<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title style="font-family: 'Carter One', cursive;">lizochat</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">

</head>

<body>
<%- include ../partials/navbar.ejs %>
    <div class="col-md-12 mob-clearfix margin-80">
    <input type="hidden" id="name-user" value="<%= user.username %>">
    <input type="hidden" id="name-image" value="<%= user.userImage %>">

        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">
                    <!-- LEFT -->

                    <div class="col-sm-4 col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-sidebar">
                                        <div class="img-container">
                                            <img src="https://mychatproject.s3.amazonaws.com/<%= user.userImage %>" class="img-responsive img-user" id="show_img">
                                        </div>
                                
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            <%= user.fullname %>
                                        </div>
                                        <div class="profile-usertitle-job">
                                            @<%= user.username %>
                                        </div>
                                    </div>
                              
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            
                                            <li>
                                                <a href="#" style="color:#9351D6 !important">
                                                    <i class="fa fa-user" style="color:#9351D6 !important"></i>
                                                    Profile
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="/settings/interest" style="color:#9351D6 !important">
                                                    <i class="fa fa-check" style="color:#9351D6 !important"></i>
                                                    Interest
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/profile/<%= user.username%>" style="color:#9351D6 !important">
                                                    <i class="fa fa-home" style="color:#9351D6 !important"></i>
                                                    Overview
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                    <!--MIDDLE-->
                    <div class="col-sm-5 col-md-6 mob-50">
                        <span id="error"></span>
                        <form method="post">
                        <div>
	                       <div class="user-display">

		                    <h3 class="user-display-head" style="color:#9351D6 !important">Favourite Department</h3>
		                  <hr />
                            <% _.forEach(user.favDepartment, function(val) { %>
		                    <p style="margin-bottom:30px;">
			                   <span class="glyphicon glyphicon-check"></span>
                                <%= val.departmentName %>
		                    </p>
                            <% }) %>

		                    <div class="form-group ad-30" style="margin-top:18px;">
			                    <div class="input-group">
			                      <input id="favDepartment" class="form-control add-items" name="favDepartment" type="text" style="">
				
				                        <span class="input-group-btn">
					                       <button class="btn btn-default add-items-btn" id="favDepartmentBtn" style="font-weight:bold; background-color:#9351D6; color:#fff">Add Department</button>
				                        </span>
			                          </div>
		                          </div>
	                           </div>
                          </div>
                         <div style="margin-top: 20px">
	                       <div class="user-display">

		                    <h3 class="user-display-head" style="color:#9351D6 !important">Favourite Professor</h3>
		                  <hr />
                        <% _.forEach(user.favProfessor, function(val) { %>
		                    <p style="margin-bottom:30px;">
			                  <span class="glyphicon glyphicon-check"></span>
                                <%= val.professorName%>
		                    </p>
                            <% }) %>

		                    <div class="form-group ad-30" style="margin-top:18px;">
			                    <div class="input-group">
			                      <input id="favProfessor" class="form-control add-items" name="favProfessor" type="text" style="">
				
				                        <span class="input-group-btn">
					                       <button class="btn btn-default add-items-btn" id="favProfessorBtn" style="font-weight:bold; background-color:#9351D6; color:#fff">Add Professor</button>
				                        </span>
			                          </div>
		                          </div>
	                           </div>
                          </div>
                            </form>
                    </div>


                </div>

            </div>
        </div>

    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/sendrequest.js"></script>
<script src="/js/user/interest.js"></script>
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
<script src="/js/deparam.js"></script>
</html>
